<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Grille Complexe
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Grille Complexe</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <ngx-datatable
      class="bootstrap"
      [limit]="10"
      [rows]="rows"
      [columns]="columns"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="50"
      [sortType]="sort">
    </ngx-datatable>
  </div>

</ion-content>
