<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cours Grille Simple
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 

  <ion-grid>
    <ion-row>
      <ion-col>Name</ion-col>
      <ion-col>Gender</ion-col>
      <ion-col>Company</ion-col>
    </ion-row>
    <ion-row *ngFor="let movie of movies">
      <ion-col>{{movie.name}}</ion-col>
      <ion-col>{{movie.gender}}</ion-col>
      <ion-col>{{movie.company}}</ion-col>
    </ion-row>
  </ion-grid>

</ion-content>